version: '3.8'
services:
  springboot-app:
    build: .
    container_name: springboot-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb+srv://<username>:<password>@cluster0.fzyml5i.mongodb.net/<dbname>?retryWrites=true&w=majority